<template>
  <div>
    <h2>{{title}}</h2>
    <ul>
      <li v-for="(item,idx) in items" :key="idx">
        <span
          class="cursur-pointer"
          :class="item.done ? 'text-green' : 'text-red'"
          @click="move(item.id)"
        >{{item.title}}</span>
        <span class="cursur-pointer" @click="deleteTodo(item.id)" style="margin-left:12px">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 32 32"
            fill="#000"
            width="16"
            height="16"
          >
            <path
              d="M16,2C8.2,2,2,8.2,2,16s6.2,14,14,14s14-6.2,14-14S23.8,2,16,2z M21.4,23L16,17.6L10.6,23L9,21.4l5.4-5.4L9,10.6L10.6,9l5.4,5.4L21.4,9l1.6,1.6L17.6,16l5.4,5.4L21.4,23z"
            />
            <rect width="32" height="32" fill="none" />
          </svg>
        </span>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "List",
  props: {
    title: String,
    items: Array,
  },
  methods: {
    move(id) {
      this.$emit("move", id);
    },
    deleteTodo(id) {
      this.$emit("deleteTodo", id);
    },
  },
};
</script>

<style>
.cursur-pointer {
  cursor: pointer;
}
.text-red {
  color: red;
}
.text-green {
  color: green;
}
</style>