<template>
  <div class="wrapper">
    <List :items="unDone" title="To do" v-on:move="moveDone" v-on:deleteTodo="deleteTodo" />
    <List :items="done" title="Done" v-on:move="moveUnDone" v-on:deleteTodo="deleteTodo" />
    <div>
      <h2>Write a todo</h2>
      <input
        @keypress.enter="addTodo"
        v-model="todo"
        type="text"
        class="input"
        placeholder="add a todo"
      />
      <caption style="white-space: nowrap;">Press Enter to add</caption>
    </div>
  </div>
</template>

<script>
import List from "@/components/list.vue";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      todo: "",
    };
  },
  components: {
    List,
  },
  computed: {
    ...mapGetters({ done: "getDone", unDone: "getUndone" }),
  },
  methods: {
    moveDone(id) {
      this.$store.dispatch("makeDone", id);
    },
    moveUnDone(id) {
      this.$store.dispatch("makeUnDone", id);
    },
    deleteTodo(id) {
      this.$store.dispatch("deleteTodo", id);
    },
    addTodo() {
      if (this.todo.trim()) {
        this.$store.dispatch("addTodo", this.todo);
        this.todo = "";
      } else {
        alert("You need to have a title for todo.");
      }
    },
  },
};
</script>

<style>
* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 50px;
}
.input {
  flex-grow: 0.1;
  padding: 12px;
}
@media screen and (max-width: 700px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .input {
    margin: 30px 0;
  }
}
</style>